{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- reservations.html content starts here -->

<div class="hero form container mt-5"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Your Reservations</h2>
            <div class="row">
                {% for reservation in reservations %}
                <div class="card col" style="width: 18rem; margin: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ reservation.first_name }} {{ reservation.last_name }}</h5>
                        <p class="card-text"><strong>Date:</strong> {{ reservation.date }}</p>
                        <p class="card-text"><strong>Time:</strong> {{ reservation.time }}</p>
                        <p class="card-text"><strong>Guests:</strong> {{ reservation.num_of_guests }}</p>
                        <div class="container">
                            <div class="row">
                                <a href="edit/{{ reservation.id }}" class="btn btn-primary" style="margin-bottom: 5px;">Edit</a>
                                <a href="delete/{{ reservation.id }}" data-bs-toggle="modal" class="btn btn-danger"
                                    data-bs-target="#delete_modal{{ reservation.id }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal for Deleting a Reservation -->
                <div class="modal fade" id="delete_modal{{ reservation.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ reservation.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ reservation.id }}">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this reservation for {{ reservation.first_name }} {{ reservation.last_name }}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="delete/{{ reservation.id }}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>


                {% empty %}
                <p>You have no upcoming reservations. You can make one 
                    <a href="{% url 'create_booking' %}"><strong>here</strong></a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- reservations.html content ends here -->
{% endblock %}