{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- menu_list.html content starts here -->
<div class="container-fluid">
    <!-- Starters Section -->
    <h2>Starters</h2>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for dish in dish_list %}
                {% if dish.category == 'starter' %}
                <!-- Grid column classes updated for responsiveness -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                    <div class="card mb-4 card-hover">
                        <a href="{% url 'menu_detail' dish.slug %}" class="post-link">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in dish.featured_image.url %}
                                    <img class="card-img-top img-fluid" src="{% static 'images/default.webp' %}"
                                        alt="placeholder image">
                                    {% else %}
                                    <img class="card-img-top img-fluid" src="{{ dish.featured_image.url }}"
                                        alt="{{ dish.dish_title }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ dish.author }}</p>
                                    </div>
                                </div>
                                <h2 class="card-title">{{ dish.dish_title }}</h2>
                                <p class="card-text">{{ dish.excerpt }}</p>
                                <hr>
                                <p class="card-text text-muted h6">{{ dish.posted_on }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div> <!-- End row after every 3rd item -->
            <div class="row">
                <!-- Start new row -->
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- Main Courses Section -->
<h2>Main Courses</h2>
<div class="row">
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for dish in dish_list %}
            {% if dish.category == 'main' %}
            <!-- Grid column classes updated for responsiveness -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                <div class="card mb-4 card-hover">
                    <div class="card-body">
                        <a href="{% url 'menu_detail' dish.slug %}" class="post-link">
                            <div class="image-container">
                                {% if "placeholder" in dish.featured_image.url %}
                                <img class="card-img-top img-fluid" src="{% static 'images/default.webp' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-fluid" src="{{ dish.featured_image.url }}"
                                    alt="{{ dish.dish_title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ dish.author }}</p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ dish.dish_title }}</h2>
                            <p class="card-text">{{ dish.excerpt }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ dish.posted_on }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            <div class="row">
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Desserts Section -->
<h2>Desserts</h2>
<div class="row">
    <div class="col-12 mt-3 left">
        <div class="row">
            {% for dish in dish_list %}
            {% if dish.category == 'dessert' %}
            <!-- Grid column classes updated for responsiveness -->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl">
                <div class="card mb-4 card-hover">
                    <div class="card-body">
                        <a href="{% url 'menu_detail' dish.slug %}" class="post-link">
                            <div class="image-container">
                                {% if "placeholder" in dish.featured_image.url %}
                                <img class="card-img-top img-fluid" src="{% static 'images/default.webp' %}"
                                    alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-fluid" src="{{ dish.featured_image.url }}"
                                    alt="{{ dish.dish_title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ dish.author }}</p>
                                </div>
                            </div>
                            <h2 class="card-title">{{ dish.dish_title }}</h2>
                            <p class="card-text">{{ dish.excerpt }}</p>
                            <hr>
                            <p class="card-text text-muted h6">{{ dish.posted_on }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
            <div class="row">
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- menu_list.html content ends here -->
{% endblock %}