{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- dish title goes in these h1 tags -->
                <h1 class="post-title">{{ dish.dish_title }}</h1>
                <!-- dish author goes before the | the dish's posted date goes after -->
                <p class="post-subtitle">{{ dish.author }} | {{ dish.posted_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The dish content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ dish.content | safe }}
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}